<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension" xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension">

<?define PFILESDIR = ProgramFiles64Folder ?>
<?define SYSDIR = System64Folder ?>

<Product
Id="*"
Name="Qubes Windows Tools"
UpgradeCode="{FB972F47-0D68-43EF-9820-92FDEB51DCD5}"
Language="1033"
Codepage="1252"
Version="4.1"
Manufacturer="Invisible Things Lab"
>

<Package
Id="*"
Description="Qubes Windows Tools"
Manufacturer="Invisible Things Lab"
InstallerVersion="405"
Languages="1033"
Compressed="yes"
SummaryCodepage="1252"
InstallPrivileges="elevated"
/>

<MediaTemplate EmbedCab="yes"/>

<MajorUpgrade
AllowSameVersionUpgrades="no"
DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."
/>

<!-- Skip the license dialog: it"s displayed by the bundle, so no need to have it here as well. -->
<UI>
  <UIRef Id="WixUI_Mondo"/>
  <Publish Dialog="WelcomeDlg"
        Control="Next"
        Event="NewDialog"
        Value="CustomizeDlg"
        Order="2">1</Publish>
  <Publish Dialog="CustomizeDlg"
        Control="Back"
        Event="NewDialog"
        Value="WelcomeDlg"
        Order="2">1</Publish>
</UI>

<Property Id="SYSTEMSTARTOPTIONS">
    <RegistrySearch Id="SystemStartOptions"
        Root="HKLM"
        Key="SYSTEM\CurrentControlSet\Control"
        Name="SystemStartOptions"
        Type="raw"
    />
</Property>

<Directory Id="TARGETDIR" Name="SourceDir" DiskId="1">
    <Directory Id="$(var.PFILESDIR)">
	<Directory Id="SendToFolder"/>
        <Directory Id="ITLProgramFilesDir" Name="Invisible Things Lab">
            <Directory Id="INSTALLDIR" Name="Qubes Tools">
                <Directory Id="LogDir" Name="log">
                    <Component Id="CreateLogDir" Guid="{61BC344A-BD13-4886-8DF8-007C40B2F31C}">
                        <CreateFolder/>
                    </Component>
                </Directory>

                <Component Id="QubesRegistry">
                    <RegistryKey Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools">
                        <RegistryValue Type="string" Name="InstallDir" Value='[INSTALLDIR]'/>
                        <RegistryValue Type="string" Name="LogDir" Value='[INSTALLDIR]\log'/>
                        <RegistryValue Type="integer" Name="LogLevel" Value="1"/>
                    </RegistryKey>
                    <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Control\Session Manager\Debug Print Filter">
                        <!-- Default debug print filter masks for drivers. Mostly useful to not spam a debugger when testing. 0x3f is all predefined levels. -->
                        <RegistryValue Type="integer" Name="IHVDRIVER" Value="3"/>
                        <RegistryValue Type="integer" Name="IHVVIDEO" Value="3"/>
                    </RegistryKey>
                    <Environment Id="QubesToolsEnv" Action="set" Name="QUBES_TOOLS" Part="all" Permanent="no" System="yes" Value='[INSTALLDIR]' />
                </Component>
		
                <Directory Id="DriversDir" Name="Drivers">

		    <Directory Id="QvideoDir" Name="qvideo">
                        <Component Id="qvideo" Guid="{EC90C049-0025-4815-9106-6ABC438470A4}">
                            <File Id="qvgdi.dll" Source="bin\$(env.DDK_ARCH)\qvgdi.dll"/>
                            <File Id="qvmini.sys" Source="bin\$(env.DDK_ARCH)\qvmini.sys"/>
                            <File Id="qvideo.inf" Source="bin\$(env.DDK_ARCH)\qvideo.inf"/>
			    <difx:Driver PlugAndPlayPrompt='no'/>
                        </Component>
                    </Directory>
		    
                    <Directory Id="XenbusDir" Name="xenbus">
			<Component Id="XenbusDriver" Guid="{FAC4C476-2F1C-4970-B5E1-8FD95A9BBCB9}">
                            <File Id="XenbusInf" Source="xenbus\$(env.DDK_ARCH)\xenbus.inf" KeyPath="yes" />
                            <File Id="XenbusCat" Source="xenbus\$(env.DDK_ARCH)\xenbus.cat" />
                            <File Id="XenbusSys" Source="xenbus\$(env.DDK_ARCH)\xenbus.sys" />
                            <File Id="XenSys" Source="xenbus\$(env.DDK_ARCH)\xen.sys" />
                            <File Id="XenfiltSys" Source="xenbus\$(env.DDK_ARCH)\xenfilt.sys" />
                            <File Id="XenbusCoinst" Source="xenbus\$(env.DDK_ARCH)\xenbus_coinst.dll" />
                            <File Id="XenbusMonitorDll" Source="xenbus\$(env.DDK_ARCH)\xenbus_monitor.dll" />
                            <File Id="XenbusMonitorExe" Source="xenbus\$(env.DDK_ARCH)\xenbus_monitor.exe" />
			    <difx:Driver PlugAndPlayPrompt='no'/>
			</Component>
                    </Directory>

		    <Directory Id="XenifaceDir" Name="xeniface">
                        <Component Id="XenifaceDriver" Guid="{D464EDB0-CF0D-4FE5-A160-210BF246C3A4}">
                            <File Id="XenifaceInf" Source="xeniface\$(env.DDK_ARCH)\xeniface.inf" KeyPath="yes" />
                            <File Id="XenifaceCat" Source="xeniface\$(env.DDK_ARCH)\xeniface.cat" />
                            <File Id="XenifaceSys" Source="xeniface\$(env.DDK_ARCH)\xeniface.sys" />
                            <File Id="XenagentDll" Source="xeniface\$(env.DDK_ARCH)\xenagent.dll" />
                            <File Id="XenagentExe" Source="xeniface\$(env.DDK_ARCH)\xenagent.exe" />
                            <File Id="XenifaceCoinst" Source="xeniface\$(env.DDK_ARCH)\xeniface_coinst.dll" />
			    <difx:Driver PlugAndPlayPrompt='no'/>
                        </Component>
                    </Directory>

                    <Directory Id="XennetDir" Name="xennet">
                        <Component Id="XennetDriver" Guid="{AEFEC088-0B30-4EFC-8416-5E3675AC03D0}">
                            <File Id="XennetInf" Source="xennet\$(env.DDK_ARCH)\xennet.inf" KeyPath="yes" />
                            <File Id="XennetCat" Source="xennet\$(env.DDK_ARCH)\xennet.cat" />
                            <File Id="XennetSys" Source="xennet\$(env.DDK_ARCH)\xennet.sys" />
                            <File Id="XennetCoinst" Source="xennet\$(env.DDK_ARCH)\xennet_coinst.dll" />
			    <difx:Driver PlugAndPlayPrompt='no'/>
                        </Component>
                    </Directory>

                    <Directory Id="XenvbdDir" Name="xenvbd">
                        <Component Id="XenvbdDriver" Guid="{87BAEE21-4695-4B75-A484-0A6136B70516}">
                            <File Id="XenvbdInf" Source="xenvbd\$(env.DDK_ARCH)\xenvbd.inf" KeyPath="yes" />
                            <File Id="XenvbdCat" Source="xenvbd\$(env.DDK_ARCH)\xenvbd.cat" />
                            <File Id="XenvbdSys" Source="xenvbd\$(env.DDK_ARCH)\xenvbd.sys" />
                            <File Id="XendiskSys" Source="xenvbd\$(env.DDK_ARCH)\xendisk.sys" />
                            <File Id="XencrshSys" Source="xenvbd\$(env.DDK_ARCH)\xencrsh.sys" />
                            <File Id="XenvbdCoinst" Source="xenvbd\$(env.DDK_ARCH)\xenvbd_coinst.dll" />
			    <difx:Driver PlugAndPlayPrompt='no'/>
                        </Component>
                    </Directory>

		    <Directory Id="XenvifDir" Name="xenvif">
                        <Component Id="XenvifDriver" Guid="{90BC2F5A-7414-4FF6-96E4-5789DDB1AECF}">
                            <File Id="XenvifInf" Source="xenvif\$(env.DDK_ARCH)\xenvif.inf" KeyPath="yes" />
                            <File Id="XenvifCat" Source="xenvif\$(env.DDK_ARCH)\xenvif.cat" />
                            <File Id="XenvifSys" Source="xenvif\$(env.DDK_ARCH)\xenvif.sys" />
                            <File Id="XenvifCoinst" Source="xenvif\$(env.DDK_ARCH)\xenvif_coinst.dll" />
			    <difx:Driver PlugAndPlayPrompt='no'/>
                        </Component>
                    </Directory>
		    
                </Directory>
		
		<Directory Id="$(var.SYSDIR)">
		    <Component Id="XenUserDlls" Guid="{1BA9B085-AFC2-4248-9DF2-5E85692DC707}">
			<File Id="xencontrol" Source="bin\$(env.DDK_ARCH)\xencontrol.dll" KeyPath="yes" />
			<File Id="libxenvchan" Source="bin\$(env.DDK_ARCH)\libxenvchan.dll" />
		    </Component>

		    <Component Id="WindowsUtilsDll" Guid="{B701294F-7A5E-48C8-B1D4-74968E4479D7}">
			<File Id="windows_utils.dll" Source="bin\$(env.DDK_ARCH)\windows-utils.dll" KeyPath="yes" />
		    </Component>

		    <Component Id="VchanDll" Guid="{A7483192-22F6-47AC-AD77-E5CE3091B879}">
			<File Id="libvchan.dll" Source="bin\$(env.DDK_ARCH)\libvchan.dll" KeyPath="yes" />
		    </Component>

		    <Component Id="QubesDbClient" Guid="{E9742F11-6E77-44FC-8A53-168BE2D9273A}">
			<File Id="QdbClient" Source="bin\$(env.DDK_ARCH)\qubesdb-client.dll" KeyPath="yes"/>
			<File Id="QdbCmd" Source="bin\$(env.DDK_ARCH)\qubesdb-cmd.exe"/>
		    </Component>

                    <Component Id="RelocateDir" Guid="{C4325378-B946-4C6C-A685-F3E39A10AF20}">
                        <File Id="relocate_dir.exe" Source="bin\$(env.DDK_ARCH)\relocate-dir.exe" KeyPath="yes" />
                        <RegistryValue Root="HKLM" Key="System\CurrentControlSet\Control\Session Manager" Name="BootExecute" Type="multiString" Action="append" Value="relocate-dir.exe C:\Users Q:\Users"/>
			<RegistryValue Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools" Name="LogDir" Type="string" Value="Q:\QubesLogs"/> 
                    </Component>

		</Directory>

                <Component Id="DisableUac">
                    <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Policies\System">
                        <RegistryValue Type="integer" Name="EnableLUA" Value="0"/>
                    </RegistryKey>
                </Component>

                <Directory Id="BinDir" Name="bin">
                    <Component Id="PowerSettings">
                        <File Id="power_settings.bat" Source="power_settings.bat" KeyPath="yes"/>
                    </Component>

                    <Component Id="PrepareVolume" Guid="{220A22F3-0B73-4A4C-B825-53132A88D1DF}">
                        <File Id="diskpart.ps1" Source="bin\$(env.DDK_ARCH)\diskpart.ps1" KeyPath="yes" />
                    </Component>
		    
                    <Component Id="GuiAgent" Guid="{69131C28-618B-4662-9AFC-70767E50F05D}">
                        <File Id="qga.exe" Source="bin\$(env.DDK_ARCH)\qga.exe" KeyPath="yes"/>
			<File Id="DevconHelper" Source="bin\$(env.DDK_ARCH)\devcon.exe"/>
			<File Id="PkiHelper" Source="bin\$(env.DDK_ARCH)\pkihelper.exe"/>
			<RegistryValue Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools" Name="Autostart" Type="string" Value='[BinDir]qga.exe'/>
                        <RegistryValue Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools" Name="UseDirtyBits" Type="integer" Value="0"/>
                        <RegistryValue Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools\qga" Name="MaxFps" Type="integer" Value="0"/>
                        <RegistryValue Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools\qga" Name="DisableCursor" Type="integer" Value="1"/>
                        <RegistryValue Root="HKLM" Key="Software\Invisible Things Lab\Qubes Tools\qga" Name="SeamlessMode" Type="integer" Value="0"/>
                        <!--RegistryValue Root="HKLM" Key="System\CurrentControlSet\services\VgaSave" Name="Start" Type="integer" Value="4"/-->
                    </Component>
                    <Component Id="QgaWatchdog" Guid="{5A490AD9-203D-4634-9ABA-4FB02416D0BC}">
                        <File Id="QgaWatchdog.exe" Source="bin\$(env.DDK_ARCH)\QgaWatchdog.exe" KeyPath="yes"/>
                        <ServiceInstall
                        Id="ServiceInstaller"
                        Type="ownProcess"
                        Vital="yes"
                        Name="QgaWatchdog"
                        DisplayName="Qubes Gui Agent Watchdog"
                        Description="Qubes Gui Agent Watchdog"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="ignore"
                        Interactive="no"
                        >
                            <ServiceDependency Id="QdbDaemon" />
                        </ServiceInstall>
                        <ServiceControl Id="QgaWatchdogService" Remove="uninstall" Name="QgaWatchdog" Wait="no" />
                    </Component>
		    
                    <Component Id="QubesDbDaemon" Guid="{1CE95F90-FBD1-4D1D-B955-C31D42F84D3C}">
                        <File Id="QdbDaemon" Source="bin\$(env.DDK_ARCH)\qubesdb-daemon.exe" KeyPath="yes"/>
                        <ServiceInstall
                        Id="QdbService"
                        Type="ownProcess"
                        Vital="yes"
                        Name="QdbDaemon"
                        DisplayName="QubesDB daemon"
                        Description="Qubes configuration database agent"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="ignore"
                        Interactive="no"
                        Arguments="0"
                        />

                        <ServiceControl
                        Id="QdbServiceControl"
                        Stop="both"
                        Remove="uninstall"
                        Name="QdbDaemon"
                        Wait="yes"
                        />
                    </Component>
		    
                    <Component Id="QrexecAgent" Guid="{0e26617f-e5d9-4943-a08e-cf29013e9d72}">
                        <File Id="qrexec_agent.exe" Source="bin\$(env.DDK_ARCH)\qrexec-agent.exe" KeyPath="yes"/>

                        <ServiceInstall
                        Id="QrexecService"
                        Type="ownProcess"
                        Vital="yes"
                        Name="QrexecAgent"
                        DisplayName="Qubes RPC Agent"
                        Description="Qubes remote execute agent"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="ignore"
                        Interactive="no"
                        >
                            <ServiceDependency Id="QdbDaemon" />
                        </ServiceInstall>

                        <ServiceControl
                        Id="QrexecServiceControl"
                        Stop="both"
                        Remove="uninstall"
                        Name="QrexecAgent"
                        Wait="yes"
                        />
                    </Component>
                    <Component Id="QrexecWrapper" Guid="{EC103A81-6828-4ABA-9706-644DBBD4D615}">
                        <File Id="qrexec_wrapper.exe" Source="bin\$(env.DDK_ARCH)\qrexec-wrapper.exe" KeyPath="yes"/>
                    </Component>
                    <Component Id="QrexecClientVm" Guid="{b5700d68-2ceb-4764-9e4b-11ae33b2d05b}">
                        <File Id="qrexec_client_vm.exe" Source="bin\$(env.DDK_ARCH)\qrexec-client-vm.exe" KeyPath="yes">
                            <Shortcut
                            Id="qopen_dvm_sendto_shortcut"
                            Name="Edit in DispVM"
                            Directory="SendToFolder"
                            Arguments='@dispvm|qubes.OpenInVM|[QubesRPCServicesDir]\open-in-vm.exe'
                            Show="minimized"
                            />

                            <Shortcut
                            Id="CopyToVm"
                            Name="Copy to other VM"
                            Directory="SendToFolder"
                            Arguments='@default|qubes.Filecopy|[QubesRPCServicesDir]\file-sender.exe'
                            />


                            <Shortcut
                            Id="EditInVm"
                            Name="Edit in VM"
                            Directory="SendToFolder"
                            Arguments='@default|qubes.OpenInVM|[QubesRPCServicesDir]\open-in-vm.exe'
                            />
                        </File>
                    </Component>

                    <Component Id="NetworkSetup" Guid="{7201739e-35fb-11e3-9760-00163e5e6c10}">

                        <File Id="qnetwork_setup.bat" Source="bin\$(env.DDK_ARCH)\qnetwork_setup.bat" KeyPath="yes"/>
                    </Component>
                    <Component Id="ServicePolicy" Guid="{F9818E4E-76C4-40DE-A8F3-945336C954B1}">
                        <File Id="preparation.bat" Source="bin\$(env.DDK_ARCH)\preparation.bat" />
                    </Component>
                    <Component Id="AdvertiseTools" Guid="{DEDA44D9-6A58-4DE7-902A-643FB594B93C}">
                        <File Id="advertise_tools.exe" Source="bin\$(env.DDK_ARCH)\advertise-tools.exe" KeyPath="yes"/>
                    </Component>

                </Directory>

                <Directory Id="QubesRPCDir" Name="qubes-rpc">
                    <Component Id="QrexecServicesConfig" Guid="{9efff253-25a8-40ed-861a-0d576f0ca439}">
                        <File Id="qubes.Filecopy" Source="bin\AnyCPU\qubes-rpc\qubes.Filecopy" KeyPath="yes"/>
                        <File Id="qubes.ClipboardCopy" Source="bin\AnyCPU\qubes-rpc\qubes.ClipboardCopy"/>
                        <File Id="qubes.ClipboardPaste" Source="bin\AnyCPU\qubes-rpc\qubes.ClipboardPaste"/>
                        <File Id="qubes.VMShell" Source="bin\AnyCPU\qubes-rpc\qubes.VMShell"/>
                        <File Id="qubes.OpenInVM" Name="qubes.OpenInVM" Source="bin\AnyCPU\qubes-rpc\qubes.OpenInVM"/>
                        <File Id="qubes.WaitForSession" Source="bin\AnyCPU\qubes-rpc\qubes.WaitForSession"/>
                        <File Id="qubes.SetGuiMode" Source="bin\AnyCPU\qubes-rpc\qubes.SetGuiMode"/>
                        <File Id="qubes.GetAppMenus" Source="bin\AnyCPU\qubes-rpc\qubes.GetAppMenus"/>
                        <File Id="qubes.StartApp" Source="bin\AnyCPU\qubes-rpc\qubes.StartApp"/>
                        <File Id="qubes.GetImageRGBA" Source="bin\AnyCPU\qubes-rpc\qubes.GetImageRGBA"/>
                        <File Id="qubes.SetDateTime" Source="bin\AnyCPU\qubes-rpc\qubes.SetDateTime"/>
                        <File Id="qubes.OpenURL" Source="bin\AnyCPU\qubes-rpc\qubes.OpenURL"/>
                    </Component>
                </Directory>

                <Directory Id="QubesRPCServicesDir" Name="qubes-rpc-services">
                    <Component Id="QrexecServices" Guid="{2543621b-2d67-4726-9a3b-7a1c471a1e19}">
                        <File Id="file_sender.exe" Source="bin\$(env.DDK_ARCH)\file-sender.exe" KeyPath="yes"/>
                        <File Id="file_receiver.exe" Source="bin\$(env.DDK_ARCH)\file-receiver.exe"/>
                        <File Id="clipboard_copy.exe" Source="bin\$(env.DDK_ARCH)\clipboard-copy.exe"/>
                        <File Id="clipboard_paste.exe" Source="bin\$(env.DDK_ARCH)\clipboard-paste.exe"/>
                        <File Id="vm_file_editor.exe" Source="bin\$(env.DDK_ARCH)\vm-file-editor.exe"/>
                        <File Id="open_in_vm.exe" Source="bin\$(env.DDK_ARCH)\open-in-vm.exe"/>
                        <File Id="wait_for_logon.exe" Source="bin\$(env.DDK_ARCH)\wait-for-logon.exe"/>
                        <File Id="set_gui_mode.exe" Source="bin\$(env.DDK_ARCH)\set-gui-mode.exe"/>
                        <File Id="get_appmenus.ps1" Source="bin\AnyCPU\get-appmenus.ps1"/>
                        <File Id="start_app.ps1" Source="bin\AnyCPU\start-app.ps1"/>
                        <File Id="get_image_rgba.exe" Source="bin\$(env.DDK_ARCH)\get-image-rgba.exe"/>
                        <File Id="window_icon_updater.exe" Source="bin\$(env.DDK_ARCH)\window-icon-updater.exe"/>
                        <File Id="set_time.ps1" Source="bin\AnyCPU\set-time.ps1"/>
                        <File Id="open_url.exe" Source="bin\$(env.DDK_ARCH)\open-url.exe"/>
                    </Component>
                </Directory>
		
            </Directory>
        </Directory>
    </Directory>
</Directory>

<SetProperty Id="SignQvideoDriver" Value='"[BinDir]pkihelper.exe" -v -p "[DriversDir]qvideo"' Sequence="execute" Before="SignQvideoDriver"/>
<CustomAction Id="SignQvideoDriver" Impersonate="no" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore"/>

<SetProperty Id="RunPrepareVolume" Value='"powershell.exe" -executionpolicy bypass -noninteractive -inputformat none -file "[BinDir]diskpart.ps1"' Sequence="execute" Before="RunPrepareVolume"/>
<CustomAction Id="RunPrepareVolume" Impersonate="no" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore"/>

<SetProperty Id="RegisterVideoDevice" Value='"[BinDir]/devcon.exe" install "[DriversDir]qvideo\qvideo.inf" ITL_QubesVideo' Sequence="execute" Before="RegisterVideoDevice"/>
<CustomAction Id="RegisterVideoDevice" Impersonate="no" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore"/>

<!-- Disable all PCI Display devices. Our device is ROOT device -->
<SetProperty Id="DisableSVGA" Value='"[BinDir]/devcon.exe" disable =Display *PCI*' Sequence="execute" Before="DisableSVGA"/>
<CustomAction Id="DisableSVGA" Impersonate="no" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore"/>

<SetProperty Id="EnableSVGA" Value='"[BinDir]/devcon.exe" enable =Display *PCI*' Sequence="execute" Before="EnableSVGA"/>
<CustomAction Id="EnableSVGA" Impersonate="no" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore"/>

<CustomAction Id="Set_PowerSettings" Property="PowerSettings" Value='"cmd.exe" /c "[BinDir]power_settings.bat"'/>
<CustomAction Id="PowerSettings" Impersonate="no" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore"/>

<CustomAction Id="Set_DisableSvc" Property="DisableSvc" Value='"cmd.exe" /c "[BinDir]preparation.bat"' />
<CustomAction Id="DisableSvc" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no" />

<InstallExecuteSequence>

    <Custom Action="SignQvideoDriver" Before="MsiProcessDrivers" />

    <Custom Action="RegisterVideoDevice" After="InstallFiles">
        ?qvideo=2 AND $qvideo=3
    </Custom>

    <Custom Action="DisableSVGA" After="MsiProcessDrivers">
        ?qvideo=2 AND $qvideo=3
    </Custom>

    <!-- enable it back on uninstall -->
    <Custom Action="EnableSVGA" Before="InstallFinalize">
        REMOVE="ALL" AND ?qvideo=3 AND $qvideo=2
    </Custom>
    
    <Custom Action="RunPrepareVolume" Before="InstallFinalize">
	$PrepareVolume=3 AND NOT Installed AND NOT PATCH AND NOT UPGRADINGPRODUCTCODE AND NOT REINSTALL AND NOT REMOVE~="ALL"
    </Custom>

    <Custom Action="Set_DisableSvc" Before="DisableSvc" />
    <Custom Action="DisableSvc" After="InstallFiles" />

    <!-- Require reboot after install/uninstall. -->
    <ScheduleReboot After="InstallFinalize" />

    <!-- Run power settings update if the feature is being installed. -->
    <Custom Action="Set_PowerSettings" Before="PowerSettings" />
    <Custom Action="PowerSettings" Before="InstallFinalize">
	<![CDATA[&PowerSettings=3]]>
    </Custom>

</InstallExecuteSequence>

<Feature
Id="Complete"
AllowAdvertise="no"
Absent="disallow"
Display="expand"
Title="Qubes Windows Tools"
Description="Qubes Windows Tools"
ConfigurableDirectory="INSTALLDIR"
>
    <Feature
    Id="Common"
    AllowAdvertise="no"
    Absent="disallow"
    Title="Shared components"
    Description="Shared libraries for Qubes Windows Tools."
    >
        <ComponentRef Id="QubesRegistry"/>
        <ComponentRef Id="CreateLogDir"/>
        <ComponentRef Id="WindowsUtilsDll"/>
        <ComponentRef Id="VchanDll"/>
        <ComponentRef Id="XenUserDlls"/>
        <ComponentRef Id="QubesDbClient"/>
        <ComponentRef Id="QubesDbDaemon"/>
    </Feature>

    <Feature
    Id="XenPvDrivers"
    AllowAdvertise="no"
    Absent="allow"
    Title="Xen PV Drivers"
    Description="Paravirtualization drivers for Xen."
    >
        <Feature
        Id="XenBase"
        AllowAdvertise="no"
        Absent="disallow"
        Title="Base Xen PV Drivers"
        Description="Xen paravirtual bus and interface drivers."
        >
            <ComponentRef Id="XenbusDriver"/>
            <ComponentRef Id="XenifaceDriver"/>
        </Feature>

        <Feature
        Id="XenDisk"
        AllowAdvertise="no"
        Absent="allow"
        Title="Xen PV Disk Drivers"
        Description="Xen paravirtual disk drivers."
	Level="1001"
        >
            <ComponentRef Id="XenvbdDriver"/>
        </Feature>

        <Feature
        Id="XenNetwork"
        AllowAdvertise="no"
        Absent="allow"
        Title="Xen PV Network Drivers"
        Description="Xen paravirtual network class and device drivers."
	Level="1001"
        >
            <ComponentRef Id="XenvifDriver"/>
            <ComponentRef Id="XennetDriver"/>
        </Feature>
    </Feature>

    <Feature
    Id="CoreAgent"
    AllowAdvertise="no"
    Absent="allow"
    Title="Qubes Core Agent"
    Description="Core services of Qubes Windows Tools. Contains Qubes RPC Agent and basic services like file copy, clipboard handling, etc."
    >
        <ComponentRef Id="QrexecAgent"/>
        <ComponentRef Id="QrexecClientVm"/>
        <ComponentRef Id="QrexecWrapper"/>
        <ComponentRef Id="NetworkSetup"/>
        <ComponentRef Id="ServicePolicy"/>
        <ComponentRef Id="QrexecServicesConfig"/>
        <ComponentRef Id="QrexecServices"/>
        <ComponentRef Id="AdvertiseTools"/>
    </Feature>

    <Feature
    Id="MoveProfiles"
    AllowAdvertise="no"
    Absent="allow"
    Title="Move user profiles"
    Description="Moves user profiles directory (c:\Users) to the HVM&amp;s private disk (private.img)."
    >
    	<ComponentRef Id="RelocateDir"/>
        <ComponentRef Id="PrepareVolume"/>
    </Feature>

    <Feature
    Id="GuiAgentWindows"
    AllowAdvertise="no"
    Absent="allow"
    Title="Qubes GUI Agent"
    Description="Windows Agent for seamless GUI integration."
    >
        <Condition Level="0">
		<![CDATA[NOT VersionNT = 601]]>
        </Condition>
        <ComponentRef Id="GuiAgent"/>
        <ComponentRef Id="QgaWatchdog"/>
        <ComponentRef Id="qvideo"/>
    </Feature>

    <Feature
    Id="DisableUac"
    AllowAdvertise="no"
    Absent="allow"
    Title="Disable UAC"
    Description="Disable User Account Control."
    >
        <ComponentRef Id="DisableUac"/>
    </Feature>

    <Feature
    Id="PowerSettings"
    AllowAdvertise="no"
    Absent="allow"
    Title="Update Windows power settings"
    Description="Sets the active Windows power scheme to High Performance and disables automatic sleep/hibernation."
    >
        <ComponentRef Id="PowerSettings"/>
    </Feature>
    
</Feature>

</Product>
</Wix>
